.about-page-wrapper {
  margin-top: 90px;
  position: absolute;
  top: 0;
  right: -20px;
  left: 0;
  bottom: 0;
}
#about-page-footer {
  width: 100%;
}

.about-page-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media (min-width: 600px) {
  .page-wrapper {
    margin-top: 150px;
  }
}
