.slider-wrapper {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.9); */
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 700px;
}
.slider-wrapper button {
  background-color: transparent;
  color: #ef6567;
  font-size: 150%;
  padding: 15px;
  border: none;
  outline: none;
  transition: 300ms ease;
  z-index: 10;
  font-weight: 900;
}

.images-container {
  color: white;
  z-index: 3;
}
.images-container img {
  width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transition: 1800ms ease;
  height: 100%;
  z-index: 0;
}

#sliding_image_2 {
  opacity: 0;
  transform: translateX(250px);
  transition: 1800ms ease;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}
#sliding_image_3 {
  opacity: 0;
  transform: translateX(250px);
  transition: 1800ms ease;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}
#content_1 {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  transition: 1800ms ease 900ms;
}

#content_2 {
  transform: translateY(150px);

  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  opacity: 0;
  transition: 1800ms ease 900ms;
}
#content_3 {
  transform: translateY(150px);

  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  opacity: 0;
  transition: 1800ms ease 900ms;
}

.content button {
  z-index: 1000;
  color: white;
  border: solid white 3px;
  background-color: #ef6567;
  border-radius: 15px;
  margin: auto;
  font-size: 90%;
  font-weight: 900;
  min-width: 200px;
  cursor: pointer;
}
.content button:hover {
  color: #ef6567;
  background-color: white;
  border: solid #ef6567 3px;
}
#content_1 button:hover {
  color: #ef6567;
  background-color: white;
  border: solid #ef6567 3px;
}
#content_2 button:hover {
  color: #ef6567;
  background-color: white;
  border: solid #ef6567 3px;
}
#content_3 button:hover {
  color: #ef6567;
  background-color: white;
  border: solid #ef6567 3px;
}

@media (max-width: 900px) {
  .slider-wrapper {
    min-height: 600px;
  }
  .content {
    padding: 35px;
    font-size: 120%;
  }
  .content h1 {
    font-size: 150%;
    padding-bottom: 10px;
  }

  .content_2 {
    padding: 35px;

    /* padding: 15px; */
    font-size: 120%;
  }
  .content_2 h1 {
    font-size: 150%;
    padding-bottom: 10px;
  }

  .content_3 {
    padding: 35px;

    /* padding: 15px; */
    font-size: 120%;
  }
  .content_3 h1 {
    font-size: 150%;
    padding-bottom: 10px;
  }
}
@media (min-width: 900px) {
  .content {
    align-items: center;
    top: 100px;
    right: 200px;
    left: 200px;
    bottom: 100px;
  }
  .content_2 {
    align-items: center;
    top: 100px;
    right: 200px;
    left: 200px;
    bottom: 100px;
  }
  .content_3 {
    align-items: center;
    top: 100px;
    right: 200px;
    left: 200px;
    bottom: 100px;
  }
}

.arrow,
.arrow:before {
  position: absolute;
  right: 5%;
}

.arrow {
  width: 40px;
  height: 40px;
  /* top: 50%; */
  /* margin: -20px 0 0 -20px; */
  margin: 0;
  -webkit-transform: rotate(315deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -5px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
#arrow-left {
  left: 5%;
  -webkit-transform: rotate(135deg);
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
/* @keyframes slider-main {
  0% {
    opacity: 0;

    transform: translateX(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */
@media (min-width: 1100px) {
  #content_1 {
    top: 50px;
    left: 350px;
    right: 350px;
    bottom: 50px;
  }
  #content_1 button:hover {
    background-color: white;
    color: red;
  }
  #content_2 {
    top: 50px;
    left: 350px;
    right: 350px;
    bottom: 50px;
  }
  #content_2 button:hover {
    background-color: white;
    color: red;
  }
  #content_3 {
    top: 50px;
    left: 350px;
    right: 350px;
    bottom: 50px;
  }
}
