.slider-wrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 500px;
}
.slider-wrapper button {
  background-color: transparent;
  color: #ef6567;
  font-size: 150%;
  padding: 15px;
  border: none;
  outline: none;
  transition: 300ms ease;
  z-index: 1000;
  font-weight: 900;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.slider-wrapper button:hover {
  color: white;
  transition: 300ms ease;
}
.images-container {
  color: white;
  z-index: 5;
}
.images-container img {
  width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transition: 2200ms ease;
  height: 100%;
  z-index: 0;
}

#sliding_image_2 {
  opacity: 0;
  transform: translateX(250px);
  transition: 2200ms ease;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}
#sliding_image_3 {
  opacity: 0;
  transform: translateX(250px);
  transition: 2200ms ease;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}
.content {
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

.content button {
  z-index: 150;
  color: white;
  border: solid white 3px;
  background-color: #ef6567;
  border-radius: 15px;
  margin: auto;
  font-size: 90%;
  font-weight: 900;
  min-width: 200px;
}
.content button:hover {
  color: #ef6567;
  background-color: white;
  border: solid #ef6567 3px;
}
@media (max-width: 900px) {
  .slider-wrapper {
    min-height: 600px;
  }
  .content {
    padding: 15px;
    font-size: 120%;
  }
  .content h1 {
    font-size: 150%;
  }
}
@media (min-width: 900px) {
  .content {
    align-items: center;
    top: 100px;
    right: 200px;
    left: 200px;
    bottom: 100px;
  }
}
