.form-section {
  /* width: 100%; */
}
.get-in-touch-page-form {
  /* background-color: rgba(185, 47, 47, 0.6); */
  z-index: 100;
}
.red-form-wrapper {
}
.get-in-touch-page-form form {
  background-color: rgba(255, 255, 255, 0.3);
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #ffffff;
  padding-bottom: 50px;
  border-radius: 5px;
  z-index: 0;
  /* text-align: center; */
  overflow-x: hidden;
  overflow-y: hidden;
}
.get-in-touch-page-form h1 {
  font-weight: 700;
  font-size: 300%;
  margin: 20px;
  text-align: center;
  color: black;
  text-shadow: white 1px 1px 1px;
}
.get-in-touch-page-form h2 {
  text-align: center;
  font-weight: 400;
  font-size: 120%;
  margin: 10px;
  margin-bottom: 20px;
  color: #333;
}
.get-in-touch-page-form form select {
  width: 300px;
  margin: auto;
  padding: 15px;
  color: rgb(255, 255, 255);
  border: solid #ffffff 2px;
  border-radius: 25px;
  font-size: 110%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #2934a3;
  text-align-last: right;
  padding-right: 29px;
  direction: rtl;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.get-in-touch-page-form form input {
  width: 300px;
  margin: auto;
  padding: 15px;
  color: rgb(255, 255, 255);
  border: solid #ffffff 2px;
  border-radius: 25px;
  font-size: 120%;
  text-align: right;
  margin-bottom: 10px;
  background-color: #2934a3;
}
.get-in-touch-page-form form input:focus {
  border: solid #ffffff 3px;
  outline: none;
}
.get-in-touch-page-form form input::placeholder {
  color: rgb(182, 182, 182, 0.7);
  font-weight: 300;
  font-family: Rubik, sans-serif;
}
.get-in-touch-page-form button {
  padding: 10px;
  margin: 20px 0 0 0;
  color: #fc1a0a;
  border: solid #fc1a0a 2px;
  border-radius: 25px;
  transition: 600ms ease;
  font-size: 130%;
  cursor: pointer;
  font-weight: 600;
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 50px;
}
.get-in-touch-page-form button img {
  max-width: 20px;
  margin-right: 10px;
}
.get-in-touch-page-form button:hover {
  color: white;
  background-color: #2934a3;
  transition: 600ms ease;
}
#checkbox-id-desktop {
  display: none;
}
#checkbox-id-mobile {
  margin: 5px;
  margin-top: 15px;
}
