.get-in-touch-page-wrapper {
  font-family: Varela Round, sans-serif;
  margin: auto;
  width: 100%;
}
.get-in-touch-page-header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  margin-top: 110px;
}
.get-in-touch-page-header img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.header-backlight {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.get-in-touch-page-header h1 {
  color: rgb(255, 255, 255);
  font-size: 225%;
  text-shadow: #2d2e8d 1px 1px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 50px;
  padding: 10px;
  z-index: 2;
}
.get-in-touch-page-content {
  text-align: right;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-in-touch-page-content h4 {
  font-size: 150%;
  padding-right: 20px;
  padding-top: 10px;
}
.get-in-touch-page-content h6 {
  font-size: 100%;
  padding-right: 20px;
  padding-top: 5px;
}
.get-in-touch-page-content p {
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 125%;
  color: #2a2a2a;
}

.get-in-touch-page-content h2 {
  margin: 20px;
  font-size: 175%;
  color: #2a2a2a;
}
.get-in-touch-page-right-col {
  max-width: 500px;
  width: 100%;
}
.get-in-touch-page-left-col {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
@media (min-width: 1100px) {
  .get-in-touch-page-wrapper {
    max-width: 1300px;
  }
  .get-in-touch-page-header {
    margin-top: 150px;
    min-height: 400px;
  }

  .get-in-touch-page-left-col {
    min-width: 300px;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 123px;
  }
  .left-col img {
    border-radius: 70px;
    height: 100%;
  }
  .get-in-touch-page-right-col {
    min-width: 200px;
    max-width: 500px;
    margin: 20px;
    margin-left: 40px;
  }
}
