.header {
  /* position: absolute; */
  width: 100%;
  /* min-height: 400px; */
  background-color: red;
  /* margin-bottom: 1000px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  position: absolute;
  color: aliceblue;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 50px;
}
.header-img {
  position: absolute;
  width: 100%;
  max-height: 90vh;
  z-index: 50;
  margin: auto;
  display: block;
  right: 0;
  left: 0;
  top: 0;
}
.carousel-img-one {
  width: 100%;
  position: relative;
  max-height: 400px;
  height: 100%;
}
