.hiring-page-wrapper {
  font-family: Varela Round, sans-serif;
  max-width: 1100px;
  margin: auto;
  /* margin-top: 110px; */
}
#hiring-page-footer {
}
.open-positions-container {
  display: block;
  border: solid #333 1px;
  box-shadow: black 1px 1px 15px 0.5px;
  padding: 20px;
}
.open-position img {
  max-width: 75px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hiring-page-header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  margin-top: 110px;
}
.hiring-page-header img {
  /* min-height: 200px; */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.header-backlight {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.hiring-page-header h1 {
  color: rgb(255, 255, 255);
  font-size: 225%;
  text-shadow: #2d2e8d 1px 1px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 50px;
  /* padding: 10px; */
  z-index: 2;
}
.hiring-page-content {
  text-align: right;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hiring-page-content h2 {
  margin: 20px;
  font-size: 175%;
  color: #2a2a2a;
}
.hiring-page-content ul {
  list-style: none;
}
.hiring-page-content li {
  padding: 25px;
  max-width: 500px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 115%;
  color: #2a2a2a;
}
.hiring-page-content p {
  font-size: 125%;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.hiring-page-content h3 {
  font-size: 175%;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.hiring-page-content h4 {
  font-size: 150%;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.hiring-page-content h6 {
  font-size: 100%;
  color: #2a2a2a;
  margin-bottom: 10px;
  margin-top: 15px;
}

@media (min-width: 1100px) {
  .hiring-page-wrapper {
    /* margin-top: 150px; */
  }
  .hiring-page-header {
    margin-top: 150px;
    min-height: 400px;
  }
  .hiring-page-content p {
    font-size: 150%;
  }
  .hiring-page-content h2 {
    font-size: 250%;
  }
  .hiring-page-content h2 {
    font-size: 200%;
  }
  .hiring-page-content li {
    font-size: 125%;
  }
  .hiring-page-content h6 {
    font-size: 115%;
  }
  .hiring-page-content h4 {
    font-size: 175%;
  }

  .left-col {
    min-width: 300px;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 123px;
  }
  .left-col img {
    border-radius: 70px;
    height: 100%;
  }
  .right-col {
    min-width: 200px;
    max-width: 500px;
    margin: 20px;
    margin-left: 40px;
  }
  .bottom-col {
    max-width: 100%;
    margin-top: 50px;
  }
}
