.info-footer {
  width: 100%;
}
.info-footer-div {
  background-color: #333;
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
.info-footer h5 {
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.info-footer h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.info-footer a {
  color: white;
  text-decoration: none;
  transition: 500ms ease;
}
.info-footer a:hover {
  transition: 500ms ease;
  font-size: 1.1rem;
}
.info-footer img {
  max-width: 20px;
  margin-right: 5px;
}
@media (max-width: 900px) {
  .info-footer-div {
  }
  .info-footer-div h5 {
    width: 100%;
    margin: auto;
    justify-content: space-between;
  }
  .info-footer-div a {
    width: 100%;
    justify-content: space-between;
  }
  .info-footer-div h6 {
    width: 100%;
    justify-content: space-between;
  }
}
