.read-more-section {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 20px;
  flex-wrap: wrap;
}
.read-more-section p {
  color: #2b34a0;
  font-weight: 950;
  font-size: 2.5rem;
  min-width: 350px;
  text-align: center;
  font-family: Rubik, sans-serif;
}
.read-more-section img {
  max-width: 300px;
  margin: 10px;
}
.read-more-section button {
  background-color: #d94948;
  padding: 10px;
  border-radius: 25px;
  font-size: 130%;
  max-height: 50px;
  min-width: 200px;
  font-weight: 900;
  color: rgb(209, 209, 209);
  border: none;
  outline: none;
  transition: 300ms ease;
  cursor: pointer;
  margin: 20px;
}
.read-more-section button:hover {
  background-color: #2b34a0;
  color: rgb(255, 255, 255);
  transition: 300ms ease;
}
