.navbar button {
  border: none;
  display: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
#hamburger-button-id {
  position: fixed;
  /* top: 37px; */
  top: 65px;
  right: 35px;
  z-index: 1;
}

.side-nav {
  height: 100%;
  text-align: center;
  width: 0;
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  padding-top: 150px;
  transition: width 700ms;
  font-size: 110%;
  font-family: Arial;
  overflow-y: hidden;
}

.side-nav li {
  text-decoration: none;
  padding: 20px;
  opacity: 0;
}
.side-nav li:hover {
}
.side-nav li a {
  color: #2d2e8d;
  font-size: larger;
  font-weight: 600;
  transition: 1600ms;
  text-decoration: none;
}
.side-nav a:hover {
  color: #d94948;
  transition: 600ms;
}
#profile-small-nav-item {
  opacity: 0;
}
#contact-small-nav-item {
  opacity: 0;
}
#home-small-nav-item {
  opacity: 0;
}
.side-nav button {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(95, 90, 90);
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  outline: none;
}

.side-nav .btn-close {
  position: absolute;
  top: 20px;
  /* right: 22px; */
  left: -52px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  z-index: 1000;
}

.navBarLogo {
  max-width: 175px;
  position: fixed;
  /* top: 15px; */
  top: 43px;
  left: 15px;
  z-index: 1;
}
#topNavbarItems {
  font-family: Arial;
  font-weight: 600;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 150px;
  /* height: 300px; */
  z-index: 0;
  font-size: 110%;
}
#topNavbarItems a {
  text-decoration: none;
  color: #2d2e8d;

  font-size: 110%;
  transition: 600ms;
  padding: 30px;
}
#topNavbarItems a:hover {
  color: #d94948;

  transition: 600ms;
  text-decoration: none;
}

#side-search-bar {
  margin-left: 28px;
  margin-bottom: 20px;
}

.mobile-call_now_container {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.mobile-call_now_container span {
  /* color: #d94948; */
  color: #333;

  margin-left: 10px;
}
.mobile-call_now_container span:hover {
  color: #d94948;
  margin-left: 10px;
}
.mobile-call_now_container a {
  text-decoration: none;
  color: #333;
  font-size: 130%;
  font-weight: 550;
}
.mobile-call_now_container a:hover {
  color: #2d2e8d;
}

@media (max-width: 1300px) {
  .navbar button {
    display: block;
  }
  #topNavbarItems NavLink {
    display: none;
  }
  #smaller-display-side-navbar-items {
    display: block;
    font-size: 90%;
    transition: 500ms;
  }
  #topNavbarItems a {
    display: none;
    opacity: 0;
  }
  #topNavbarItems {
    height: 120px;
  }
}
.call_now_container {
  display: none;
}
.call_now_icon {
  max-width: 35px;
  position: fixed;
  top: 35px;
  left: 150px;
}
.call_now_container h5 {
  max-width: 150px;
  position: fixed;
  top: 80px;
  left: 122px;
}
.call_now_container h3 {
  max-width: 250px;
  position: fixed;
  top: 100px;
  left: 110px;
}
.call_now_container a {
  color: #333;
}
.call_now_container a:hover {
  color: #d94948;
}

@media (min-width: 1300px) {
  .navBarLogo {
    max-width: 250px;
    position: fixed;
    right: 30px;
    top: 30px;
    left: auto;

    /* max-height: 75px; */
  }
  .call_now_container {
    display: block;
  }
}

@media (min-width: 600px) {
  .mobile-call_now_container {
    display: none;
  }
}
